@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: #ff5252;
}

.header {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background: linear-gradient(45deg, #f9f9f9, #f2f2f2); 
}

#headerImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#headerTitle {
    position: absolute;
    top: 20%;
    transform: translate(0, -100%);
    color: white;
    font-size: 3.0em; 
    z-index: 1;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    animation: breathe 2s infinite ease-in-out;
}

#headerSubtitle {
    position: absolute;
    top: 50%; 
    transform: translate(8%, -50%);
    color: white;
    font-size: 1.5em; 
    z-index: 1;
    text-align: justify;
    width: 70%;
    margin-left: 10%;
    line-height: 1.5;
}

@keyframes breathe {
    0%, 100% { transform: translate(0, -100%) scale(1); } 
    50% { transform: translate(0, -100%) scale(1.05); } 
}

/* 媒体查询 */
@media (max-width: 768px) {
    #headerTitle {
        top: 10%; 
        font-size: 2em; 
    }

    #headerSubtitle {
        top: 30%; 
        font-size: 1.2em; 
    }
}

/* Part */
#part {
    padding: 20px;
    background-color: #f2f2f2;
    color: black;
    border-bottom: 1px solid #e0e0e0;
}

#part .content {
    width: 70%;
    margin: 0 auto;
}

#part .centered-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#part .left-align-title {
    font-size: 2.0em;
    margin-bottom: 10px;
    text-align: left; /* 使 CPR Can Save Your Life 左对齐 */
}

#part h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
}

#part p {
    font-size: 1.2em;
    line-height: 1.8;  /* 增加行间距 */
    text-align: justify;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);  /* 增加文字颜色深度感 */
}

#part .subsection {
    margin-bottom: 20px;
}

#part figure {
    max-width: 90%;
    margin: 0 auto;
}

#part img {
    width: 100%; 
    height: auto;
}

#part .img-caption {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#part .img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#part .img-container figure {
    width: 30%;  /* 控制图片的宽度 */
    position: relative;
}

#part .img-container figure:nth-child(2) {
    margin-top: 50px;  
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 30px 0;  /* 增加内边距 */
    position: relative;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #333, #444);  /* 增加背景渐变 */
}

.footer-content {
    text-align: center;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8);  /* 增加文字颜色深度感 */
}